.ThemeButton_btn {
  border: none;
  background-color: inherit;
  color: inherit;

  font-size: 2rem;
  padding: 1rem;

  border-radius: 50%;

  transition: all .2s linear;

  cursor: pointer;
}

.ThemeButton_btn:hover {
  /* color: dodgerblue; */
  color: var(--accent);
  /* box-shadow: 0 0 86px 40px rgba(30, 144, 255, 0.3); */
  /* box-shadow: 0 0 86px 40px var(--accent03); */
  /* background-color: rgba(30, 144, 255, 0.2); */
  /* background-color: var(--accent02); */
  border: none;
  /* transform: scale(1.3); */
}


@media (max-width: 425px) {
  .ThemeButton_btn {
    font-size: 1.5rem;
  }
}