.CurrencyInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.CurrencyInfo__toFrom {
  margin-bottom: 2rem;
}

.CurrencyInfo__from {
  font-size: 1.2rem;
}

.CurrencyInfo__to {
  color: var(--accent03);
  font-size: 2.4rem;
}

.CurrencyInfo__accent {
  color: var(--accent);
}

.CurrencyInfo__fromTo {
  letter-spacing: .2rem;
}