.Input {
  display: flex;
  flex-direction: column;

  /* display: block; */
  text-align: center;
  margin: 1.2rem 0;
  width: 80vw;
  /* width: 100%; */
  min-width: 16rem;
  max-width: 22rem;
  font-size: 1.2rem;
}

.Input__input {
  position: relative;

  padding: 0.25rem 1.25rem;
  margin-top: 0.75rem;

  font-family: 'Barlow';
  font-size: 2.4rem;
  text-align: center;

  /* border: 1px solid #ccc; */
  border: 1px solid var(--border);
  border-radius: 10px;
  outline: none;

  background-color: inherit;
  color: inherit;

  transition: all .2s linear;

}

.Input__input:focus {
  outline: 1px solid var(--background);
}

@media (max-width: 425px) {
  .Input {
    margin: 0;
  }
}