.ChangeButton_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: inherit;
  color: inherit;


  font-size: 2rem;
  padding: 1rem;
  /* transform: translateY(29.75%); */

  border-radius: 50%;

  transition: all linear .15s;
  cursor: pointer;
}

.ChangeButton_btn-link {
  text-decoration: none;
  color: inherit;
}

.ChangeButton_btn:hover {
  color: var(--accent);
  border: none;
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .ChangeButton_btn {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .ChangeButton_btn {
    /* transform: none */
    margin-bottom: 1rem;
  }
}